[2014-06-15 05:41] dougwilson opened #1 "Convenience function wrapper"
Add a convenience method to created a wrapped function that just deprecates all calls to the function (needs to preserve function arity). Possible interface:

[code]

[2014-06-15 05:44] dougwilson opened #2 "Convenience property wrapper"
Add a convenience method to created a wrapped property that just deprecates all calls to the property. Possible interface:

[code]

[2014-06-15 06:28] dougwilson opened #3 "Additional functions called from same site to not warn"
If there is a call site that invokes multiple deprecated functions dynamically at the same site, the later calls at the same site to different functions will not warn.

[2014-06-15 06:29] #3 closed, assigned to nobody

[2014-06-15 17:17] dougwilson opened #4 "Ability to intercept deprecation warnings"
Since the deprecation warnings are simply written to stderr, they are not easy to instrument or intercept. An example would be a large system that wants to write all events to an external service but would like more structured messages than just stderr log lines. Possible interface:

[code]

If there are any deprecation listeners attached to process, then nothing is written to stderr.

[2014-06-15 17:21] dougwilson opened #5 "Ability to silence certain namespaces"
It would be nice to be able to silence certain namespaces, probably through an environment variable (like `DEBUG`). Possible interface:

[code]

Should this module honor Node.js core's `--no-deprecation` argument to silence everything?

[2014-06-15 17:24] dougwilson opened #6 "Ability to output full stack of deprecations"
It would be nice, when tracking down deprecations manually, to see the full stack of the deprecation's call site. Possible Interface:

[code]

Can probably honor Node.js core's `--trace-deprecation` flag as well.

[2014-06-15 20:59] #1 closed, assigned to nobody

[2014-06-15 22:56] #4 closed, assigned to nobody

[2014-06-16 02:49] #2 closed, assigned to nobody

[2014-06-17 04:58] #5 closed, assigned to nobody

[2014-06-20 19:16] dougwilson opened #7 "Make node_modules aware"
For when the module is installed, it would be nice if the stack tracing was `node_modules`-aware, where if a dep uses a dep, perhaps the displayed location would be the first frame outside the `node_modules` tree.

[2014-06-22 15:50] dougwilson opened #8 "Add "removed" mode"
Sometimes a project may be so big, that even a deprecation cycle _still_ might not be enough; after the next major that removes the feature it may be useful to have a "removed" message for some things that used to be deprecated.

I'm thinking perhaps add a `remove` property to `deprecate`:

[code]

The `function`, `property` and other helpers would not wrap things, since they are meant for removed

[2014-07-19 23:12] #6 closed, assigned to nobody

[2014-07-26 20:01] dougwilson opened #9 "Error is global Error.stackTraceLimit is too low"
[code]

[2014-07-26 20:04] #9 closed, assigned to nobody

[2014-07-27 16:35] dougwilson opened #10 "Rapidly calling Error.captureStackTrace eventually results in empty stack"
In v8, when rapidly calling `Error.captureStackTrace`, an empty stack trace will end up being returned. This module needs to handle that case.

[2014-07-27 16:56] #10 closed, assigned to nobody

[2014-08-02 22:01] seanmonstar opened #11 "deprecate.function's eval is slow"
I noticed that when I wrapped a function in `deprecate.function()` in my library, my benchmarks took a big hit, dropping ~62%. Changing my use to be an empty function with `deprecate()` inside brought my speed back to normal.

The important part: **this slow down occured even without that function be executed.** It simply existing slow things down.

Looking in the source, it looks like the goal is

[2014-09-09 20:42] #11 closed, assigned to nobody

[2014-09-18 06:01] #8 closed, assigned to nobody

[2014-09-18 06:02] #7 closed, assigned to nobody

[2014-11-09 07:52] snowyu opened #12 "deprecated.property raise error when object is empty"
I do not wanna to check the property of the options whether exists, why not do this in depd?

[code]

[2014-11-09 22:30] #12 closed, assigned to nobody

[2014-12-28 04:11] jonathanong opened #13 "extract the callsite logic into a separate module"
wanna be able to just do `var str = callsite()` or something.

[2015-01-27 23:31] Poil opened #14 "Not working with firefox ?"
Hi,

I've opened a but on puppetexplorer but it seem the bug came from your module (I'm a noob in nodejs so perhaps I'm totally wrong)

I've got this error in Firefox "TypeError: Error.captureStackTrace is not a function"

If you check other nodejs module you have acode like this
[code]

[2015-01-27 23:36] dougwilson commented on #14
Hi! This is a Node.js module; it is not intended to function within web browsers. According to your stack from the other issue, the `ast-types` module, if it intends to function within a web browser, should define a fallback for it's dependency on this module when used within things like browserify.

[2015-01-27 23:36] #14 closed

[2015-02-27 10:35] bajtos opened #16 "Support the browser"
I'd like to use `depd` in LoopBack, a project that supports both the server (Node.js) and the browser (via browserify).

There are two major problems why `depd` does not work in the browser now:

 - `process.stderr` is not available in the browser. [index.js#L245-L250](https://github.com/dougwilson/nodejs-depd/blob/c06fb7d31d274706653d12e87258d4bc93dfe836/index.js#L245-L250)
 - `Error.captureStack

[2015-02-27 14:07] dougwilson commented on #16
Yes, those are the easy ones :) The main pain point is how to do the repeat warning suppression and pointing to the caller, both of which are using call stack walking.

What's nice about this module is that it doesn't warn only on first call, but rather for each unique caller callsite + calle callsite. This allows the user to run their program and collect at the deprecated calls in a single go, wh

[2015-02-27 15:24] dougwilson commented on #16
So thinking of it more, there are a few main things we need to gather first:

1. Exactly what browsers (and versions) should be supported.
2. Determine how to set up automated testing for these
3. Lean what browserify is and how to use it

[2015-02-27 16:16] bajtos commented on #16
From my POV, all evergreen browsers (Chrome, Firefox, Safari) and Internet Explorer 8+ (that's the difficult part).

This should be pretty easy via https://ci.testling.com/, although I haven't used it myself yet.

Here is a tutorial you may find useful: http://substack.net/how_I_write_tests_for_node_and_the_browser

The testling-ci docs makes me believe it should be very easy to setup the automate

[2015-03-01 04:11] dougwilson commented on #16
Awesome, thank you for the information! I'll check it out. I'll likely start with just the browsers that support access to the raw JS call stack first, and then look into what is needed to actually get it to work without access to the call stack.

[2015-03-01 04:12] dougwilson commented on #16
This module also requires support for `Object.defineProperty` and similar ES5 features, so that may limit the supported browser list.

[2015-03-02 08:22] bajtos commented on #16
Is this required for all module users, or only when calling `depd.property()`?

From my POV, I would prefer an implementation that works across all browsers, even if it (initially) provided less features than the Node version.

However, since I don't have time to work on this feature myself, I should not complain either :)

[2015-03-09 20:26] jscissr commented on #16
There is also a problem if you use a [Content Security Policy](http://www.html5rocks.com/en/tutorials/security/content-security-policy/#eval-too), because `eval` is disallowed (by default).

Angular.js for example [detects](https://github.com/angular/angular.js/blob/v1.3.14/src/Angular.js#L876-L893) an active CSP and uses a fallback in that case.
However, there seems to be no standard way to tell

[2015-03-09 20:36] dougwilson commented on #16
Interesting. Currently the reason for the `eval` is because we need to keep the function's arity intact.

[2015-03-09 20:47] jscissr commented on #16
Yes, I know, on [stackoverflow](http://stackoverflow.com/questions/7316688/how-to-programmatically-set-the-length-of-a-function) there is no other way than `eval`/`new Function` (that supports an indefinite number of arguments).
The easier solution is just adding `'unsafe-eval'` to the CSP, but of course that's not ideal.

[2015-04-06 19:41] jasisk opened #17 "Stack trace api differences when in strict mode causing TypeErrors"
Can be realized by setting strict mode in `test/fixtures/my-lib`.

From the [API docs](https://code.google.com/p/v8-wiki/wiki/JavaScriptStackTraceApi):

Failing test:

  1) deprecate(message) when message omitted should generate message for function call on named function:
     TypeError: Cannot read property 'constructor' of undefined
      at CallSiteGetTypeName (native)
      at defaultMessage

[2015-04-06 19:48] dougwilson commented on #17
I'll take a look into this. Any suggestions are welcome :)

[2015-04-06 19:50] dougwilson commented on #17
Actually, I assume this just make a `TypeError` from our `getThis()` call?

[2015-04-06 19:52] jasisk commented on #17
Not super familiar call stack api or your normalization stuff, figured I'd capture the issue before diving in to your caller resolution stuff.

`getThis` fails, but so does [`getTypeName`](https://github.com/dougwilson/nodejs-depd/blob/c06fb7d31d274706653d12e87258d4bc93dfe836/index.js#L283) because `TypeError: Cannot read property 'constructor' of undefined`.

[2015-04-06 19:53] dougwilson commented on #17
That's fine. Really, I just need a definition of what "causing problems" from your title means. Are there Errors being thrown? If so what are they? If not, what's happening?

[2015-04-06 19:54] jasisk commented on #17
Hah. Sorry. Those are the only two TypeErrors I've come across so far.

[2015-04-06 19:55] dougwilson commented on #17
Cool. This is officially a bug at this point :)

[2015-04-06 19:57] jasisk commented on #17
I'll write a test case for realizing a `getThis()` failure.

[2015-04-06 20:22] jasisk commented on #17
[code]

[code]

[2015-04-06 20:23] dougwilson commented on #17
Nice. I've found a bunch of issues playing with it already :) Hopefully I want to get a new patch version out tonight for this issue :D

[2015-04-06 20:24] jasisk commented on #17
Awesome! Thanks for your attention to this, Doug. :grinning:

[2015-04-06 20:25] dougwilson commented on #17
No problem at all! The `TypeError: Cannot read property 'constructor' of undefined` is the most odd-ball error of the bunch :) I'm looking through the native V8 code to determine the best way without adding a slow `try`, haha

[2015-04-06 20:26] jasisk commented on #17
:+1: looking forward to seeing what you come up with.

[2015-04-06 20:37] dougwilson commented on #17
haha. and lol, this isn't super fun; seems V8 didn't completely think of all the different methods in their error API when they implemented `use strict`, haha. Seems I have to replicate some of those in my code instead of calling the error API methods.

[2015-04-06 20:47] dougwilson commented on #17
I think I have it mostly working so far :)

[2015-04-06 22:09] dougwilson commented on #17
The worse part is that from those API docs:

This is true... but not for Node.js < 0.12, which throw on `getTypeName()` from a bug, but Node.js 0.12+ correctly gets the type name.

[2015-04-06 22:14] jasisk commented on #17
Hah. Sorry for opening up this can of worms. :wink:

[2015-04-06 22:15] dougwilson commented on #17
lol. It's no problem. We'll get this fixed :D!

[2015-04-06 22:36] dougwilson commented on #17
Basically it seems like this part of V8 that is in Node.js 0.10 is buggy, lol

[2015-04-07 00:26] #17 closed

[2015-04-07 00:27] dougwilson commented on #17
Ok, so _hopefully_ it's all fixed on `master`. If you'd be so kind to test using what you saw the issues with, that would be awesome :)

[2015-04-07 02:12] jasisk commented on #17
Tried in my application and in my test cases. Everything works! Thanks, Doug!

[2015-04-07 02:13] dougwilson commented on #17
Sweet :D I plan to publish tonight (US Eastern time) as version 1.0.1

[2015-04-07 02:13] jasisk commented on #17
Sounds good! Thanks again!

[2015-04-07 17:59] jasisk commented on #17
I see it was released. Thanks again, Doug!

[2015-04-07 19:55] dougwilson commented on #17
No problem! Sorry, I got too busy last night to make the release :(

[2015-04-07 20:16] jasisk commented on #17
Haha. Not a problem at all. I appreciate it!

[2015-08-06 10:03] SystemParadox opened #18 "Fail gracefully in unsupported browsers"
Until #16 is implemented, please please can we at least have graceful failure when running in unsupported browsers?

I don't mind whether you want to print a warning every time, never print a warning, or use `console.error`, but I would like the rest of my code to run. At the moment depd blows up with an exception and everything stops :(

In reference to #14, defining a fallback isn't a good solut

[2015-08-10 04:49] dougwilson commented on #18
Hi! What environment are you looking to have a fallback in? Would you be willing to make a PR? If not a PR, then please let me know enough information so I can make the appropriate code :)

[2015-08-10 09:19] SystemParadox commented on #18
As per #14, in Firefox it throws this error:

[code]

I will gladly make a PR, but wasn't sure exactly what I should be checking against. Is it sufficient just to check for `Error.captureStackTrace`?

I am yet to come across an environment which doesn't have a `stack` property on error objects. Is there any reason why we can't just use this? I am assuming that the (V8 specific?) `Error.prepareStac

[2015-08-10 13:09] dougwilson commented on #18
Hi! Can you say an exact version of Firefox I need to target as well? For example, do I need to ensure it worked on Firefox 3.5 or is some other version more appropriate?

The mstack property is a string. Different environments format their string differently and the format is not standard. This means you're just going to have the same incompatibilities with the stack property.

We actually interr

[2015-08-10 13:16] dougwilson commented on #18
Oh, and yet another issue is that the .stack property only contains a portion of the stack. This means if what we are looking for is too far on the stack, it won't even be contained in the .stack property.

Essentially this module just cannot function at all without the V8 stack functions (or something similar). What makes this module great is that it will include the exact callsite of the usage i

[2015-08-10 13:21] dougwilson commented on #18
Also, on this point, it actually is not our responsibility, as you can see from the package.json, we have clearly outlined out supported environments. Our contract with users is this code is only to be used in Node.js 0.6+; any other use is at you own risk.

[2015-08-10 13:44] dougwilson commented on #18
Also, it may be useful another user attempted this before in #15 but after they dug into the code, abandoned the PR. Just pointing you to the PR so essentially you can read it and pick up where it was left off :)

[2015-08-10 13:44] SystemParadox commented on #18
I'm using Firefox 35.0, any reasonably recent version would be fine.

Yes I love the single-warning and proper callsite, it makes my life so much easier :)

Thanks for the info on `.stack`, that's worth knowing. I guess we just need to check for the availability of V8 functions then.

[2015-09-06 20:17] dougwilson commented on #18
Hi @SystemParadox , I'm looking into this, and have another question for you: how are you getting this code into the web browser in the first place? Are you just copy-pasting the code, or using a system like browserify or webpack (and if so, which one specifically)?

[2015-09-06 20:56] SystemParadox commented on #18
I am using browserify.

[2015-09-06 22:43] dougwilson commented on #18
Awesome, thanks, @SystemParadox ! So what I'm going to do for now, while #16 is underway, is get this module to just work in a "noop" mode when in the browser. I was thinking of doing this simply with `package.json` tweak for now, which would work with browserify/webpack. I think that this will get modules using this one to work in the meantime, while I work on replicating as much functionality as

[2015-09-07 01:23] #18 closed

[2015-09-07 01:24] dougwilson commented on #18
Ok, `master` has been updated to add a different branch (for now) when bundling with Browserify for the web environment. Let me know if it works for you and I'll release it out there :)

[2015-09-08 20:41] dougwilson commented on #16
@bajtos and others that are subscribed here, a new version of this module (1.1.0) is about to be released that adds support for web browsers via. Browserify/webpack by simply providing the API but in a "no-op mode". After that release, work will begin on bringing various features into the browser, but unless you really, really desire the features in the browser build of your module, you would be a

[2015-09-12 21:02] dougwilson commented on #18
Hi @SystemParadox , any feedback on the current `master` implementation?

[2015-09-12 21:24] SystemParadox commented on #18
Sorry I'm away at the moment, will have a look at this next week.

Thanks.
On Sep 12, 2015 10:02 PM, "Douglas Christopher Wilson" <
notifications@github.com> wrote:

[2015-09-14 09:30] SystemParadox commented on #18
I can remove my shim and it still runs in Firefox :)

However, in the longer term I don't think you need to use a package.json shim. Just check for the availability of the V8-specific APIs (Error.captureStackTrace, etc) before you use them. If they are not available, then noop or fallback to alternative implementation. It worked fine in Chrome before, by using a package.json shim we've lost that.

[2015-09-14 13:12] dougwilson commented on #18
I understand and this is only the short-term fix so that people's packages run in Firefox at all. I am working on a more robust one.

[2015-09-28 16:30] bajtos commented on #16
@dougwilson thank you for adding basic support for running the module via browserify. Since we have implemented a workaround that actually logs deprecation warnings (see [browser.depd.js](https://github.com/strongloop/loopback-datasource-juggler/blob/934786200b0180ed3d3cf45f78986b2019511e79/lib/browser.depd.js)), I prefer to stick with that until `depd` prints warnings in the browser too.

[2016-04-12 06:18] steelbrain opened #20 "Drop eval usage"
[`eval`](https://github.com/dougwilson/nodejs-depd/blob/faa1c09e23bd100d90eb5d7ac575306819831854/index.js#L409) usage in this function disallows this to be used in Chrome Apps or Electron Apps like Atom Packages
The usage seems simple straight forward, that eval could be replaced by a closure

[2016-04-12 06:21] dougwilson commented on #20
Hi! Always feel free to make a pull request if you are able to remove the eval yet keep the function arity (I should have tests that validate if you break anything on accident) :)

[2016-04-12 06:24] dougwilson commented on #20
As far as I know,it is not possible to preserve arity without eval, which is why I used it. I'm going to close the issue, since there is nothing I can do by myself. If you have an idea of how to approach this please let me know, or better yet, make a proposal via a pull request :)

[2016-04-12 06:26] steelbrain commented on #20
If you could tell me what the problem is if we remove eval, perhaps I could help us solve it

[2016-04-12 06:31] dougwilson commented on #20
You need to preserve the original function's arity.

[2016-04-12 06:32] steelbrain commented on #20
I must be misunderstanding, doesn't this solve the problem? The only side effect we will have is a bit of performance hit, but it's a deprecated function, not recommended anyway so I think it's fair

[code]

[2016-04-12 06:39] dougwilson commented on #20
Yes, you are misunderstanding the problem. You need to preserve the original function's arity, which your example does not (it changes the function arity to zero, no matter what the original arity was). This is a feature of this module and will not be removed, because there are APIs that check function length, and if that function is deprecated, it should not have a different length simply because

[2016-04-12 06:41] steelbrain commented on #20
I am trying to use the `express` and `send` modules in an electron app and hitting this error, thought it could be fixed. I guess not

[2016-04-12 06:42] steelbrain commented on #20
There are workarounds like the `loophole` module, but I thought to fix it the right way. Thank you for your cooperation :)

[2016-04-12 06:42] dougwilson commented on #20
Regardless, I don't think I'm asking for you to do much: make a pull request with your proposed change. Do not remove or break any existing tests. Your PR should be accepted.

[2016-04-12 06:45] dougwilson commented on #20
I'm not familiar with electron apps. Do those run in Node.js? If not, you should consider building with a tool chain that uses the browser version of this module, which does not use eval.

[2016-04-12 06:47] steelbrain commented on #20
Electron is basically Chromium + Node.js so it has the node's native `require`, therefore instead of browser it uses the node version. It's some security feature of Chromium that it does not allow unsafe eval without apps. I am using the loophole module now and it's working so far

[2016-04-12 06:55] dougwilson commented on #20
I see this loophole uses the vm module. I'll take a look into this yo see if it can be used instead of eval directly in this module.

Since this module has never had dependencies and supports back to Node.js 0.6 not sure how feasible making that change will be, though.

[2016-05-07 04:53] dougwilson commented on #20
So @steelbrain I was just looking into `loophole` and I tried replacing the `eval` usage in this module with `vm.runInThisContext`, but that does not work (at least as a straight replacement) due to the error `ReferenceError: log is not defined` when the returned function is actually ran. It looks like this is because according to the Node.js documentation, the code does not have access to the loc

[2016-05-07 04:55] steelbrain commented on #20
Thanks for looking into this. My modules weren't using a deprecated function so I never encountered that error, my modules were merely `require`ing `express` so it replaced all the evals invoked by top level code to `vm.runInThisContext`

[2016-05-07 04:57] dougwilson commented on #20
Gotcha. I'm still investigating this approach to using `vm` or something else to replace `eval` when possible. I'll let you know what I find out :) If you can also help, that would be great to move it along, but otherwise I think this can possibly be solved in some way to remove `eval` but keep providing preserved arity on wrapped functions.

[2017-03-27 03:04] atian25 opened #21 "line info is not help"
`egg deprecated ctx.isAjax is deprecated internal/process/next_tick.js:103:7`

[2017-03-27 03:08] dougwilson commented on #21
Hi @atian25 can you provide some more details? I see you're in @eggjs and so I assume you are trying to add this module to that module? Typically when you see a non-useful stack, it's because the following note was missed in the README:

I can take a look to see what is happening if you have code I can try, though.

[2017-03-27 03:13] atian25 commented on #21
thanks, we use it at https://github.com/eggjs/egg-core/blob/master/lib/egg.js#L156

[2017-03-27 03:16] dougwilson commented on #21
Gotcha. Yea, you cannot use this module in that way in order for the stack traces to make sense. You should always create a new deprecate object in each file you are deprecating items, because that is how the file boundary is determined. If you create it in a single, central file, then the module will latch to that file as the stack boundary and then you'll end up with useless stack traces.

[2017-03-27 03:18] dougwilson commented on #21
The usage in https://github.com/eggjs/egg-core/blob/1dda9fa9d1d61a1d06913202294ac8690dbef90d/lib/loader/file_loader.js is how the module needs to be loaded: you `require('depd')(namespace)` at the top of the file and only ever invoke the `deprecate` function within that same file.

It is not clear to me where you're using the deprecate property in that file you linked to, but the essence is that y

[2017-03-27 03:21] atian25 commented on #21
egg has plugin system, so we define a getter of `app.deprecate` then plugins and apps can use like `this.app.deprecate()`

https://github.com/eggjs/egg/blob/984d7320881adf9420e5c7e49d62d5530ad887dd/lib/egg.js#L319

[2017-03-27 03:22] dougwilson commented on #21
Hi @atian25 thanks. So it's not possible to use this module in that way, as per the readme instructions. For the file https://github.com/eggjs/egg/blob/984d7320881adf9420e5c7e49d62d5530ad887dd/lib/egg.js you need to

1. Add `const deprecate = require('depd')('egg')` at the top
2. Change the line you referenced to `deprecate('please use app.config.env instead')`

[2017-03-27 03:24] atian25 commented on #21
got, thanks for reply timely.

[2017-03-27 03:24] #21 closed

[2017-03-27 03:24] dougwilson commented on #21
@atian25 no problem :) I happened to be up and about on GitHub 👍

[2017-11-27 09:36] are1000 opened #25 "Cannot redefine property: callSiteToString"
I have no idea why this error occurs, have trouble pinpointing it down.

    TypeError: Cannot redefine property: callSiteToString
        at Function.defineProperty (<anonymous>)
        at Object.get [as callSiteToString] (\path\to\project\node_modules\depd\lib\compat\index.js:57:12)
        at Object.<anonymous> (\path\to\project\node_modules\depd\lib\compat\index.js)

I'm using those packages:

[2017-11-27 09:59] are1000 commented on #25
I have reduced the issue to `koa`. Just doing

    import Koa from 'koa'

throws this error.

[2017-11-27 10:03] are1000 commented on #25
I think this is actually an error with `@std/esm`, therefore I'm closing this issue.

[2017-11-27 11:55] #25 closed

[2017-12-22 21:38] LukeStebbing commented on #20
@dougwilson Have you considered something like this?

[code]

[2017-12-22 21:42] dougwilson commented on #20
Hi @LukeStebbing there is a PR right now to that effect, but that does not solve the issue at hand here. The appearance of the "eval" function at all is the issue, not if it appears within the used code path. That wouldn't solve the issue is "eval" or "new Function" is still in the source code so electron will not run the code.

[2017-12-22 22:11] LukeStebbing commented on #20
@dougwilson Interesting, I always assumed that CSP used v8::Context::AllowCodeGenerationFromStrings() under the hood, which only bans invocation.

Do you think it'd be workable to support arity up to a fairly high value and then throw an error if attempting to deprecate too-high arity of a function?

[2017-12-22 22:15] dougwilson commented on #20
I assume we can deprecate using the API for above some value and run a deprecation cycle within this module (the same users would use this module itself for) to give ample time to migrate to whatever the new API is, provide clear path to migrate and what users need to do instead and then a few months later release a new major version with the new behavior.

[2017-12-22 22:28] dougwilson commented on #20
I'm not familiar with how CSP works, but also mot familiar with how electron apps work; just going what people are saying because I haven't been provided any working examples and instructions on how to reproduce whatever the issue is that is trying to be solved here, so I can't experiment with different solutions to thr problem in any way. Are you also having an issue with Electron App or somethin

[2017-12-22 22:48] LukeStebbing commented on #20
In my case, it was happening in a patched version of Node.js that calls `v8::Context::AllowCodeGenerationFromStrings()`. That code isn't open source, so unfortunately I can't easily provide a repro (but the symptom is that the send module throws `EvalError: Code generation from strings disallowed for this context` when `SendStream.prototype.etag` is defined: https://github.com/pillarjs/send/blob/f

[2018-01-12 23:48] #20 closed

[2018-05-25 11:38] arciisine opened #27 "Call-site calculation does not fail gracefully when Stack information is unavailable"
When the number of stack frames in an error is under 3, `depd` does not fail gracefully. I'm working on a framework that cleans up stack traces by hiding lines that are primarily boilerplate.  In this process, this ends up at times with a stack trace that is small enough to cause this scenario.

Depd is a transitive dependency that I do not control, and so my application will break with imports fa

[2018-05-25 11:44] arciisine commented on #27
As an addendum, attempting to use NO_DEPRECATION only seems to affect whether or not something is logged, vs whether or not the information is calculated.  By allowing NO_DEPRECATION to actually bypass the calculation, that would also work for my use case.

[2018-05-25 17:02] dougwilson commented on #27
Weird, I remember some kind of fix along those lines, but not 100% sure. Is the transitive dependency in your tree the most up-to-date version (just to check in case you're mixing any such fix)? As for the `NO_DEPRECATION`, that's the correct behavior. I think the section on it in the readme does a pretty good job saying it just controls the output to STDERR and nothing else; the events are still

[2018-06-01 03:00] arciisine commented on #27
Let me get a repro to you, and then we an see if a PR is worthwhile.

[2018-08-12 21:05] dougwilson commented on #27
Closing since I never got a reproduction case or a follow up pull request.

[2018-08-12 21:05] #27 closed

[2018-08-12 21:17] charandas commented on #27
@dougwilson this is happening for me when I am using sequelize with jest (ts-jest), with the special case that the wrapping library calling sequelize is using [esm](https://github.com/standard-things/esm).

I basically had to disable my tests couple weeks ago because of this. I may be able to get you the repro.

Basically, once the stack frames become invalid, sequelize using depd for deprecating

[2018-08-12 21:26] dougwilson commented on #27
No problem 👍 I cannot confirm that the incorrect usage is causing your particular issue, but it does cause stack trace-related issues since the frame the instance captured may not contain any of the same frames when the function is later called to display a message. It just sounds like that may be the culprit here, but not sure.

[2018-08-12 21:27] dougwilson commented on #27
P.S. Sorry for confusing you with OP; I use email for everything here, basically read through email and click through the site to respond; this meant your icon was not next to the text as I was reading it (because I read in my email) and as I scrolled by they had the same colors so I incorrectly assumed it was the same user :D

[2018-08-12 21:30] charandas commented on #27
No problem.

I think in my stack, the failure happens when sequelize tries to call the depd constructor itself while newing it.

When you say the function cannot find stack frames, it sounds to me like it's in the later workflow when depd instance is already constructed.

[2018-08-12 21:37] dougwilson commented on #27
Ah, yes. Is it possible you can open an new issue and we can continue the discussion there? You can paste the exact error with it's stack that is thrown when your code hits that line you linked to to get started.

[2018-08-12 21:54] charandas commented on #27
Yes, will do.

[2018-08-14 15:25] charandas opened #28 "Call site calculation fails when importing an esm'ed package that imports sequelize internally"
@dougwilson As promised in #27 here is the [repro](https://github.com/charandas/depd-repro-jest) of the issue I am having. Use the `with-esm` branch to see the issue.

The `without-esm` branch is fine with importing sequelize, so maybe not worth seeing.

I tested with couple Node versions, v8.9.0 and v10.7.0, so I doubt the version matters there.

[2018-08-14 15:28] charandas commented on #28
Just added a readme to the repo. Let me know if anything about the setup is unclear.

[2018-08-14 15:32] dougwilson commented on #28
Thanks, I will take a look soon. Can you please post the exact error with it's full stack trace that is being thrown?

[2018-08-14 15:58] charandas commented on #28
I remember seeing longer stacktraces couple weeks ago, which go to common sequelize depd file, but can no longer create a long stacktrace. Here is what you will see with the repo:

[code]

[2018-08-14 16:01] charandas commented on #28
Also, the same issue happens whether you use `ts-jest` or `jest`. For using latter, one has to remove the `transform` portion from package.json (`"^.+\\.(ts|tsx)$": "ts-jest"`), as well as change the `spec.ts` file to `spec.js` (stripping it of ES6 imports).

I created the repro with `ts-jest` since that is my current use-case.

[2018-08-14 17:31] dougwilson commented on #28
So thanks for the repo. This is a Node.js bug: https://github.com/nodejs/node/issues/21270 and since `esm` lib runs code inside a `vm` context it triggers the bug.

[2018-08-14 17:34] dougwilson commented on #28
Sorry, didn't mean to click comment + close.

[2018-08-14 17:44] dougwilson commented on #28
I'm trying to see if it's possible there is a user-land solution but I cannot find one, and it may not be possible to fix without Node.js core involvement. I may be able to detect this brokenness at runtime and load the browser version (which is basically a complete no-op) instead. This would make your code work, though you'd get no deprecation warnings from any module in return.

[2018-08-14 18:34] dougwilson commented on #28
Unfortunately since it seems like the `esm` lib is minified on install and does not provide a source map, it's pretty much impossible to debug. To move forward and get a test I need to figure out how to invoke `vm` in the same way `esm` is doing so I can add a test to the test suite (and also understand it better to know if there is actually a work-around or not).

[2018-08-14 18:36] charandas commented on #28
May wanna involve @jdalton for a quick answer. Hope this doesn't count as spam.

[2018-08-14 19:02] jdalton commented on #28
Thanks for the ping and the repro. I'll dig in soon.

[2018-08-14 20:36] jdalton commented on #28
**Update:**

It's related to [this](https://github.com/nodejs/node/issues/21270) issue (v8 patch [here](https://chromium-review.googlesource.com/c/v8/v8/+/1113438))

Simple repro with nvm to version switch.

Try Node 6.x:

[code]
In Node 8+
[code]

The reason `esm` is running into this is we try to run in a `jest` specific context which causes the stack to not be properly prepared by `depd` result

[2018-08-15 06:55] jdalton commented on #28
**Update:**

Patched https://github.com/standard-things/esm/commit/c464c35b441a8cdccd582b8e6a0f4483e16cc84d.

[2018-08-15 14:49] charandas commented on #28
Thanks to you both.

[2018-08-15 14:49] #28 closed

[2018-08-15 14:54] charandas commented on #28
@jdalton could that patched package be released soon?

[2018-08-15 14:59] jdalton commented on #28
@charandas Yes, it'll be released this by this afternoon.

[2018-08-16 01:30] jdalton commented on #28
**Update:**

[v3.0.77](https://github.com/standard-things/esm/releases/tag/3.0.77) is released :tada:

[2018-10-11 01:40] jaydenseric opened #29 "Respect --no-deprecation and process.noDeprecation"
It took me ages to realise why I couldn't silence some deprecation warnings using [`process.noDeprecation`](https://nodejs.org/api/process.html#process_process_nodeprecation) - The deprecation was coming from `depd` instead of regular Node.js `util` and apparently the standard flag is not respected.

[2018-10-11 01:41] jaydenseric commented on #29
Also, regular Node.js deprecation warnings emit the `warning` event on `process`, something this library should probably do to?

[2018-10-11 01:45] dougwilson commented on #29
This library should be respecting the command line argument. See the readme:

This is also validated in our test suite. Can you provide the following so I can see what is happening?

(1) Node.js version
(2) version of this module
(3) example code to run
(4) instructions on how to run to reproduce the issue.

Thank you for the report!

[2018-10-11 02:04] jaydenseric commented on #29
1. Node.js v10.11.0
2. depd@1.1.2

This works:

[code]
[code]

While this does not (but should):

[code]
[code]

[2018-10-11 02:07] dougwilson commented on #29
Thanks! Sorry, I guess you were saying two separate things, the `--no-deprecation` command line argument and dynamically modifying `process.noDeprecation` at runtime. You can modify `process.noDeprecation` at runtime, as long as you do so _before_ initializing the deprecation for the given module. Ideally this is not modified at runtime, which is similar to the caveats about modifying `process.noD

[2018-10-11 02:15] jaydenseric commented on #29
This should be considered a bug rather than an enhancement.

If you are a consumer of a package that internally uses `util.deprecate`, you can temporarily disable deprecation warnings with `process.noDeprecation`, run a particular deprecated function, then re-enable deprecation warnings.

If you are a consumer of a package that interaly uses `depd`, `process.noDeprecation` has no effect at runtime

[2018-10-11 02:20] dougwilson commented on #29
I'm not sure I understand. Why would changing that property affect runtime? The documentation in Node.js is as follows:

https://nodejs.org/api/process.html#process_process_nodeprecation

Forgive me if I'm wrong, but I don't think command like flags can be changed on a process after it's been started, no? I had intentionally implemented it as it is today, which is why it's not a bug, based on the

[2018-10-12 14:00] jaruba opened #30 "TypeError: eval is not a function"
Recently my app keeps exploding because of this error from `depd`:

[code]

I think `node.js` removed `eval()` completely in favor of `VM`: https://nodejs.org/api/vm.html

`depd` is a dep of a lot of modules in my case: `express`, `http-errors`, `send` and `body-parser`

So, my question is why is depd v2.x not being released already to solve this mayhem properly?

[2018-10-12 14:02] dougwilson commented on #30
The `eval` function is still a part of Node.js.

[2018-10-12 14:06] jaruba commented on #30
then why am i getting this error on app start on 2 different computers, with 2 different Node.js versions?

In the current case i'm using: Node.js v8.11.4 (latest on LTS on their site is v8.12.0)

I'm not using Electron, NW.js or anything else, just node.

[2018-10-12 14:08] jaruba commented on #30
Also, I had no problems in the past, this started happening recently.

[2018-10-12 14:10] dougwilson commented on #30
I'm not sure. I just tried it out and the function is there still for me:
[code]
and
[code]

Perhaps if you can provide the full steps to reproduce on my end I can help determine why you're having the issue, but without any steps to reproduce, you'll likely need to debug through it or open an issue on the Node.js repo if your binaries are missing a core function.

[2018-10-12 14:13] dougwilson commented on #30
One would also think that your report wouldn't be the first and only one (https://github.com/dougwilson/nodejs-depd/issues?utf8=%E2%9C%93&q=is:issue+%22eval+is+not+a+function%22) if `eval` was really removed from Node.js with this module being in things like `express`, no? 8.11.4 was released Aug 16, so it seems like someone else would have upgraded to that version of Node.js by now and reported t

[2018-10-12 14:17] jaruba commented on #30
This is indeed very strange, your terminal command works for me too:

[code]

But I can't imagine how that error could mean anything else, or be caused by anything else.

I'll try to make a simplistic test case to see if it's reproducible on a small scale, otherwise it may be that my app is somehow breaking it, although i can't currently comprehend how it could break `eval` like this.

[2018-10-12 14:50] jaruba commented on #30
holy mother of god, i debugged it and found the issue, thanks for taking the time to put me straight

for your enjoyment, i was using a deobfuscation script found online, which after reading it thoroughly, it does, and I quote:

[code]

jesus christ..

it's annoying that it proved itself to be the best deobfuscation script out there

[2018-10-12 15:00] dougwilson commented on #30
What the what? That is pretty mind blowing. I'm glad you found the issue. I would have been happy to re-open if there was something we had to change to fix something, of course 👍

[2018-10-24 19:13] #13 closed

[2018-11-07 03:09] freewil commented on #29
Hm, so honestly didn't read through this entire thread here, but it seems one major difference between this module and `util.deprecate` is that `util.deprecate` will only emit a warning once per process run.

I'd be happy to open a PR to do so, but I think a one line change would fix the biggest concern here, which is that this module emits a non-standard `deprecation` event instead of a standard

[2018-11-07 04:00] freewil commented on #29
Would changing this module to use `process.emitWarning()` be an issue? It would be a major-version change, but I think it would help standardize deprecation events. With `util.deprecate` emitting `warning` events that is kind of the de-facto standard.

This module seems to already conform to `util.deprecate` functionality in every other way (`--trace-deprecation` and `--no-deprecation` support), b

[2018-11-07 04:04] dougwilson commented on #29
Hi @freewil I _want_ this module to use the `deprecation` event, not the `warning` event. If there is any de-facto standard, it is this module, which existed for years emitting the `deprecation` event before Node.js emitted deprecations as an event. I think they are the ones in the wrong, in this case. I expressed such when they were building out the deprecation event feature into core.

Another i

[2018-11-07 04:11] dougwilson commented on #29
Here is a quote from the Node.js project collaborators (the implementor of the deprecations emitting an event PR) on this point: https://github.com/nodejs/node/pull/4782#discussion_r55782348

Ultimately Node.js core ended up overloading the `warning` event with all types of things being emitted there, not just deprecation events. The core basically parted ways with aligning to userland for unclear

[2018-11-07 04:18] freewil commented on #29
Thanks for the clarification, seems pretty crappy that core went in a different direction than userland. That was a couple years ago though, and IMO the best way forward would be to try to standardize around the newer warning events - if that means it'll be a release or two with depd/express until it's fully complete, then so be it. Node.js < 6 is no longer maintained, so I don't see much reason t

[2018-11-07 04:18] dougwilson commented on #29
I disagree.

[2019-03-05 15:38] purpledrgn opened #32 "Why is this library overwriting Error type?"
Is there no way to avoid this function?

[code]
More specifically the native `Error` type overwrites.

I'm not against overwrites to native types but this sort of unrequested overwrite is just annoying. Overwrites are either at the user level or by request if libraries offer them (usually the case for unit test libraries).

What happens with cases such as this particular case is that it (no surpri

[2019-03-05 15:52] dougwilson commented on #32
Hi @purpledrgn I'm sorry this is causing issues for you. It's not trying to actually _change_ the global `Error` object, but it's just trying to use the Node.js API to capture stack traces

- https://nodejs.org/dist/latest-v11.x/docs/api/errors.html#errors_error_capturestacktrace_targetobject_constructoropt
- https://nodejs.org/dist/latest-v11.x/docs/api/errors.html#errors_error_stacktracelimit

e

[2019-03-06 10:12] purpledrgn commented on #32
The safest way to fix it is to actually check if the type of `Error` is actually what you think it is. If it isn't ignore it and short circuit out with some default. _Checking function/property presence and output sanity of said functions is probably the best way to confirm; and you just might get what you need._

The problem with `Error.captureStackTrace` is that to actually pass the functionalit

[2019-03-06 12:22] dougwilson commented on #32
Yea, I can definitely make changes! If you can provide a reproduction case I can look into, I can surely help to find a workable solution for you if you like, otherwise you can always make a pull request as well along with tests added to the test suite.

[2019-03-06 12:27] purpledrgn commented on #32
Simply comment out in the example I gave you the following:

[code]

You'll get a perfect reproduction case.

Like I said above I think it's fair to expect overwrites to Error to provide `captureStackTrace` since it's documented in nodejs docs, but `prepareStackTrace` is just not documented and too rarely used. Your code is the first time I've ever seen it used. _You can also comment out the `stac

[2019-03-06 12:29] dougwilson commented on #32
Gotcha. I'm not going to support such an environment who is overwriting the global Error if that is what is happening.

[2019-03-06 12:29] #32 closed

[2019-08-07 19:36] kendinikertenkelebek opened #34 "Turkish Language Problem"
If OS default language is Turkish, some errors occur. More info and solution [here](https://github.com/facebook/create-react-app/issues/7315#issuecomment-509241612).

[2019-08-07 19:52] dougwilson commented on #34
That is not a solution, only a work around. Just completely disabling functionality doesn't make sense. If you can provide complete steps to reproduce the issue here, I can reproduce, debug, and determine a solution to work on the given platform.

[2019-08-08 00:17] dougwilson commented on #34
Reading though that issue and looking at the change, I think this is opened in the wrong place.

The solution you linked to which is to add the line `if (fn == undefined) return;` changes the behavior of `wrapfunction` in the following way: when called without a function to wrap, it will return nothing instead of throwing an error.

The purpose of the error is to detect when `wrapfunction` is bein

[2019-08-08 00:17] #34 closed

[2019-10-16 17:30] sla100 opened #36 "Incopatibile with --enable-source-maps node 12 option"
Try:
[code]
It catch:
[code]

[2019-10-16 17:47] dougwilson commented on #36
The `--enable-source-maps` is still experimental. Usage of it breaks the `Error.prepareStackTrace` v8 API this module relies on (among other things).

Node.js allows you to hook in with `Error.prepareStackTrace` global (https://github.com/nodejs/node/blob/cbd8d715b2286e5726e6988921f5c870cbf74127/lib/internal/errors.js#L37) but when you set `--enable-source-maps` they replace the error stack functi

[2019-10-16 17:49] dougwilson commented on #36
Here is a simplified example of the underlying issue:
[code]

[2019-10-16 17:54] dougwilson commented on #36
https://github.com/nodejs/node/issues/29994

[2019-10-16 18:04] dougwilson commented on #36
Keeping open for visibility

[2019-12-03 05:34] cut-copy-paste opened #38 "(!) Use of eval is strongly discouraged, rollup"
is eval really needed?

[code]

[2019-12-03 05:41] dougwilson commented on #38
Yes, this module used to use `eval`, but `eval` was removed from version 2.0, released over a year ago.

[2019-12-03 05:41] #38 closed

[2019-12-03 11:34] cut-copy-paste commented on #38
@dougwilson ,

I am using

[code]

anything that i can do to solve the issue, as bufferEs6 is a internal dependency

[2020-01-07 23:27] soda0289 commented on #36
Fixed in node v13.6.0

@dougwilson Thanks for reporting to nodejs

[2020-01-12 19:28] sla100 commented on #36
Cum debita reverentia

[2020-01-12 19:28] #36 closed

[2020-01-16 00:54] bcoe opened #39 "compatibility with Node.js' source-map implementation"
Hey @dougwilson, I was wondering if you'd be willing to work with me to figure out a way to make this compatible with Node.js' source-map support, we just landed an API for this here:

https://github.com/nodejs/node/commit/521b2224c3b06de811f3d8353cce5e4a69239864

What I'd love would be to have a well defined way that we can expose transpiled stack traces to express users.

[2020-01-16 00:58] dougwilson commented on #39
Absolutely! Please forgive me, as I have never used any kind of transform thing, though I am aware of their existence. Just reading the docs nothing jumps out to me on what to write here. Is it possible to provide some kind of example app I can play with? Like something where the stack trace would be incorrect unless run with the enable stack traces?

[2020-01-16 01:11] bcoe commented on #39
@dougwilson yeah, I'd me than happy to provide you something; I'll start drafting something up tonight.

What we need to be mindful of, is a lot of folks might already be using express and [source-map-support](https://github.com/evanw/node-source-map-support) in conjunction; both of which override `prepareStackTrace`.

Perhaps we can pick @LinusU's brain too, for some requirements.

[2020-01-18 20:27] bcoe commented on #39
Here's a minimal [express + TypeScript app](https://github.com/bcoe/express-ts-errors) which demonstrates some of the challenges facing a TypeScript application, related to introspecting errors.

Interestingly, [source-map-support](https://github.com/evanw/node-source-map-support) does seem to work in conjunction with `depd` -- which I was a bit surprised by, since they both override `prepareStack

[2020-01-18 20:57] dougwilson commented on #39
Thank you, but I'm not sure you are using this module correctly. You cannot create the deprecation function and use it again in the same file. Running your code I'm not seeing a deprecation message from this module, but maybe I'm not calling it the right way. Can you tell me the steps to see the deprecation message from here? Maybe paste in a screenshot here of the message you see and point out wh

[2020-01-18 20:59] dougwilson commented on #39
I have also never used winston or bunyon myself, so again, do not know what it would mean to step on their toes... and specifics you can provide would help move this forward. I'm still lost on what, exactly, I need to do here, sorry :(

[2020-01-18 21:03] bcoe commented on #39
If you `curl -XGET localhost:3000/success`, I get:

[code]

In the logs.

---

I suppose the larger goal I'm suggesting is separate from `depd`, but related to it.

Without breaking express, I would like us to be able to run:

[code]

And receive a stack trace that includes the correct original source position, like this:

[code]

I only brought up winston and bunyan because we don't want to inter

[2020-01-18 21:14] dougwilson commented on #39
So because it is express that is calling the deprecation, the message seems to be right, right? Is there is something wrong with the deprecation message you out above?

The stack trace question does not seem related to this module, unless you can show where this module is making said stack trace you are seeing? It should likely belong in a meta issue somewhere vs in this issue tracker unless it is

[2020-01-18 21:37] dougwilson commented on #39
In the example, the stack trace you are pointing to you created with `new Error()` and then the printing seen is from calling `.toString()` on the object to get the string representation. Should the actual `.toString()` method on `Error` objects give the stack annotations you are looking for, or does everything in the Node.js ecosystem need to use some new method to turn error objects into strings

[2020-01-20 05:54] bcoe commented on #39
@dougwilson the root of the problem I'm trying to figure out a solution for, is that if a library like `depd` provides their own override for `prepareStackTrace`, then Node.js' current source-map implementation [calls the overridden method](https://github.com/nodejs/node/blob/master/lib/internal/source_map/prepare_stack_trace.js#L30), so you don't get the original source position.

There is howeve

[2020-01-20 06:00] dougwilson commented on #39
Sure, but this module only overrides `prepareStackTrace` to get the internal v8 objects. The result of that is not actually visible to folks using `new Error()`, especially since as soon as this module overrides it, it puts it back to the original immediately. I'm not sure how the override this module is doing would be affecting the way Node.js would behave without this module being loaded. Perhap

[2020-01-20 06:16] dougwilson commented on #39
Maybe if I provide my console output from your repo, you can see why I'm confused. Here is the output from `npm run serve`:
[code]

Yes, that does not include the `->` reference thing as noted, but I assume that is expected since there is no NODE_OPTIONS provided. But when I run the second one:
[code]

I see the stack trace as it seems you want it to be seen... I'm just lost at what, exactly, I'm

[2020-01-20 21:35] bcoe commented on #39
@dougwilson I apologize for the confusion, this is working for me for the latest Node 13 too; I wasn't following that you set aside the original `prepareStackTrace`, and then put it back again -- and I was initially testing on a Node.js version prior to our fix.

This is great news, sorry for wasting your time.

[2020-01-20 21:35] #39 closed

[2020-06-16 10:03] xanonid commented on #36
Works also meanwhile with recent node v12.x (>= 12.16.x) versions.

[2020-08-27 11:23] anlexN opened #40 "please rewrite nodejs-depd with modern syntax"

[2020-08-27 12:50] dougwilson commented on #40
The purpose of this module is to deprecate old things, and old things will typically support older Node.js version, so this module needs to do the same.

[2020-08-27 12:50] #40 closed

[2020-12-27 20:31] davidje13 opened #41 "Compatibility with --disallow-code-generation-from-strings"
This package causes applications to fail to start if using NodeJS's `--disallow-code-generation-from-strings` security option, even if the application is not using a deprecated function, due to the use of dynamically generated code: https://github.com/dougwilson/nodejs-depd/blob/73364d0315c1d31d8da276c7559626b0c53aacee/index.js#L425

This could be fixed in multiple ways:

- Replace dynamic code ge

[2020-12-27 20:43] davidje13 commented on #41
I see there was a similar discussion about this `eval`ed code in #16 where it's explained that the `arg0, arg1, ...` stuff is to maintain the function's arity.

One option would be to use the (fairly reasonable) assumption that most functions have relatively low arity;

[code]

Which could be combined with the options of using `new Function` if available (in that case `fallback` should probably fa

[2020-12-27 20:58] davidje13 commented on #41
Another possibility which may or may not work here;

[code]

This successfully changes the `.length` property of the function, but I don't know if it does it realistically enough for your needs in this project (I'm not sure where the arity of the function matters so I don't know if this applies to it).

[2021-03-28 16:16] dougwilson commented on #41
Hi, I too also would love to see eval gone.the current plan ia here: https://github.com/dougwilson/nodejs-depd/pull/33#issuecomment-615061390

I created this module for Express which supports too far down, Node.js 0.10. The Express 5 won't, so that's why the idea here is to release this change in conjection with Express to change to this new function length method.

It seems you are indeed just se

[2021-03-28 17:13] davidje13 commented on #41
I think all 3 current pull requests are keeping support for all versions of NodeJS though (because they all fall-back in one way or another to using `eval`ed code), so I don't think this needs to be a breaking change at all? (all the PRs are passing the checks in the existing CI environments; the latest from me failed one but that appears to be a flake rather than a real issue, and I have no attac

[2021-03-28 18:16] davidje13 commented on #41
@dougwilson I updated the CI scripts to run with and without `eval` enabled in each environment that supports it (i.e. NodeJS >= 9).

I also had to make one of the tests explicitly ignore this error (it checks behaviour when used with `eval`, so the test itself causes `eval` to be called). It uses `this.skip()` to mark the test as skipped if eval is disabled. I had to make a similar change to the

[2021-03-28 18:17] dougwilson commented on #41
Hi @davidje13 you are correct in that they support old versions; I did mention that in the comment I linked to. There are also people who do use static analyzers who want it gone too. There is no reason to keep two different implementations and it's a great opportunity to drop old Node.js versions from this module. That is why this module will just bump requirement to Node.js 4+ and just have the

[2021-03-28 18:20] dougwilson commented on #41
Hi @davidje13 it looks like we commented at the same time. My comment above was in response to the comment above your most recent comment.

For your most recent comment, I just took a look at the tests, and it doesn't seem right to me. A user (or CI) should just need to call `npm test` to run everything; I was thinking about having this switch similar to how the `--no-deprecation` and similar comm

[2021-03-28 18:40] davidje13 commented on #41
@dougwilson it should be possible to do that, but when I tried as my first-pass, I hit problems with the code coverage tool failing (it needs `eval` itself).

However you want to reshuffle the `npm` commands should be fine, as long as the code coverage doesn't include the `eval`-less version. So for example there could be explicit `test-eval` and `test-noeval`, with `test` just invoking both but c

[2021-03-28 21:18] davidje13 commented on #41
I updated it to use `cross-env` for Windows support (i.e. appveyor). Turns out that package doesn't support Node 0.8.0, but if you're planning to drop support for that anyway, maybe it doesn't matter.

I also reshuffled the commands to give another example of how this could be done. Now `npm test` will cause the suite to run both with and without eval allowed, which sounds like it's what you're lo

[2021-07-15 00:27] benbucksch opened #44 "Use of eval() is strongly discouraged, as it poses security risks"
Environment
===
* Sapper

Reproduction
===

* Add `express` to your project, directly or indirectly, which adds `depd` to your project
* `yarn run dev`
* Change any source code file.

Actual result
===
On every code file change, the compiler spits out the following warning on the console:

[code]
This is due to `depd`.

Expected result
===

`eval()` is not used at all. The error message is correct

[2021-07-15 00:30] dougwilson commented on #44
The usage of `eval` has already been removed from this module, so there wouldn't be any further changes to remove it as it no longer exists.

[2021-07-15 00:30] #44 closed

[2021-07-15 00:30] dougwilson commented on #44
https://github.com/dougwilson/nodejs-depd/blob/master/History.md#200--2018-10-26

[2021-07-15 00:32] benbucksch commented on #44
The [official doc for eval()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/eval) has a big fat yellow warning at the top, saying:

There's a certain irony in the fact that the very module which warns other developers about deprecated code uses deprecated code. Not only that, but the most well-known deprecated function and kind-of the mother of all deprecated fun

[2021-07-15 00:34] dougwilson commented on #44
Hi @benbucksch you can view the current code for this module right here on GitHub... There is no `eval()` usage. It was removed 3 years ago from this module.

[2021-07-15 00:40] benbucksch commented on #44
Oh, right...

So, why does express depending explicitly on an outdated depd version, even in the latest version of express?

https://github.com/expressjs/express/blob/28db2c2c5cf992c897d1fbbc6b119ee02fe32ab1/package.json#L39
[code]

I presume they had a reason, given that all the other deps are "^" instead of "~". Can you work with them to resolve whatever problem they had?

[2021-07-15 00:43] dougwilson commented on #44
Hi @benbucksch there are hundreds of modules that depend on this module. The downstream modules (like this one) do not have control over how others decide to use it. Of course, the removal of `eval` was a major version change in this module, so perhaps there is some kind of incompatibility with it or something, I'm not sure off-hand. Even if it was `^1.1.2` it would still not pick up the 2.0.0 rel

[2021-07-15 00:47] benbucksch commented on #44
@dougwilson : Yes, I understand that, but express is a rather popular module. I tried to file a bug against express, but for some reason, I cannot ("You can't perform that action at this time."). I see that you made the most recent commits in express, so it's not a third party module from your perspective, but you're active in express as well. Could you see to it that this is fixed in express, ple

[2021-07-15 00:49] dougwilson commented on #44
Hi @benbucksch sure, I will take a look in to it when I get some time. In the future, please try to keep issues to the respective issue tracker they belong in; perhaps GitHub is having an issue at the moment or something. I would move the issue, but issues cannot be moved across organizations.

This issue is closed, but mainly because there is no issue in this module as the usage of `eval` has alr

[2021-07-15 00:51] benbucksch commented on #44
Yup, sorry about that. I didn't realize that I was using an outdated module.

[2021-09-21 00:22] SenorAgosto opened #45 "Calling `process.cwd()` from index.js can be problematic"
The following line in index.js can crash some node apps.

`var basePath = process.cwd()`

This line in index.js is problematic for some node applications that might get invoked from a directory that has been removed by another process.

The application may not actually need the current working directory, but it never gets a chance to run because node barfs if `depd` is a dependency of anything pul

[2021-09-21 00:25] dougwilson commented on #45
Hm, that is an interesting scenario. Unfortunately `__filename` and `__dirname` don't work for the use case, as those of course represent very different locations and are not interchangeable.

[2021-09-21 00:27] dougwilson commented on #45
Regardless we can work around this issue. I assume that by crash you mean that it throws an error? Do you happen to have the specific error it throws on hand you can paste here?

[2021-09-21 02:06] SenorAgosto commented on #45
### Steps to reproduce:

Create a project directory `issue_45` and a package.json in it.

[code]

Install dependencies, `$ npm install -save`

[code]

Make another directory, and cd into it. It doesn't particularly matter where.

`$ mkdir test && cd test`

Not from another terminal, remove the directory you created.

`$ rmdir test`

Now from the original terminal use the absolute path to invoke is

[2022-01-11 05:06] GuoSirius opened #47 "callSite.getFileName() is not Function"
![image](https://user-images.githubusercontent.com/48358523/148884480-900547b6-5da6-442a-b6e8-439c4924b391.png)
![image](https://user-images.githubusercontent.com/48358523/148884503-ceb1d3de-bf2b-406e-9765-126171c1b109.png)

[2022-01-11 05:09] dougwilson commented on #47
Hi, and sorry you are having trouble. What version of Node.js are you getting this error with?

[2022-01-13 10:15] muwoo commented on #47
@dougwilson I have the same problem. my node version is 14.6. I printed out the value of the `callSite` which is an empty object: `{}`. I am looking forward to your reply. Thanks！

[2022-01-13 15:12] dougwilson commented on #47
Thanks. I just played around on 14.6 without issue. Can you provide instructions for how you set up this where there error happens so I can replicate it?

[2022-01-23 09:26] GuoSirius commented on #47
node 14.17.5
electron 13.6.6
camo 0.12.4

you can use vue-cli to create electron project and run .

[2022-01-23 17:07] dougwilson commented on #47
Thank you @GuoSirius i just tried that and was unable to reproduce. If you can procide more derailed instructions, I can reopen.

[2022-01-23 17:07] #47 closed

[2022-11-06 17:41] loynoir opened #50 "`callSite.getFileName` is not a function"
[code]

[2022-11-06 17:45] dougwilson commented on #50
Hi @loynoir thanks for reporting! As far as I am aware, all versions of Node.js have that function, and also the error looks weird and there is no stack trace. Can you help by providing the following information?

1. Version of Node.js you are running this module on
2. Version of this module you are running

Thank you!

[2022-11-06 17:49] loynoir commented on #50
[code]

[code]

[code]

[2022-11-06 17:52] dougwilson commented on #50
Oh, I see now, it's something to do with `--frozen-intrinsics` (https://nodejs.org/dist/latest-v18.x/docs/api/cli.html#--frozen-intrinsics). It seems that is experimental and your output should be having an experimental warning. Weird that you're not seeing that warning. But I can look into what it would take to support that environment, though since it's experimental not sure on what I can promis

[2022-11-06 17:54] loynoir commented on #50
Ah I delete that warning, I guess easier to read.
[code]

[2022-11-06 17:54] dougwilson commented on #50
Ah. But yea, as the Node.js docs state:

I'll take a look into what it would take to support that and see how the flag varies across the Node.js versions released so far to get a hint at future direction of the experimental feature too. For now, I would suggest not using that feature if you want to use this module.

[2022-11-06 17:57] loynoir commented on #50
https://github.com/nodejs/node/issues/45336#issuecomment-1304839390

[2022-11-06 17:58] dougwilson commented on #50
I'm not sure what that link means.

[2022-11-06 18:00] loynoir commented on #50
There is nodejs contributor suggestion, maybe, to use that flag to protect prototype pollution instead of crashed `Object.freeze(NODE_GLOBAL_AND_ITS_PROTOTYPE)`.

[2022-11-06 18:03] dougwilson commented on #50
Ah. But yea, like I pointed out, the Node.js documentation for `--frozen-intrinsics` (https://nodejs.org/dist/latest-v18.x/docs/api/cli.html#--frozen-intrinsics) specifically states the following:

And it looks like indeed, this code does break under that flag. Node.js seems well aware you're going to run into issues with that experimental feature. Like I said, I will look into what it would take

[2022-11-09 12:13] loynoir commented on #50
Ah, have a look where is the first place goes wrong when using that flag.

https://github.com/dougwilson/nodejs-depd/blob/7ad9a48dff1e7fe52d4298da7c1235944073bfc9/index.js#L386

So, this seems related to https://github.com/dougwilson/nodejs-depd/issues/16

with `--frozen-intrinsics`
[code]